*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.App{
  background: rgb(2,0,36);
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 50%, rgba(0,212,200,1) 100%);
}
@media screen and (max-width:767px){
  .App{
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 50%, rgba(0,212,200,1) 145%);
  }
}